.article__image {
  height: 272px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

@media screen and (max-width: 768px) {
  .article__image {
    height: 150px;
  }
}

@media screen and (max-width: 500px) {
  .article__image {
    height: 196px;
  }
}