.article__image {
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
  min-height: 100%;
}

.article__image:hover {
  transform: scale(1.1);
}
