@import url('./__item/preloader__item.css');
@import url('./__text/preloader__text.css');

.preloader {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
  display: none;
}
