@import url('./_delete/article__button_delete.css');

.article__button {
  background-image: url('../../../images/Group\ 12\ \(1\).png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  top: 24px;
  right: 24px;
  position: absolute;
  border: 0px;
  background-color: white;
}

.article__button:hover {
  background-image: url('../../../images/Group\ 12\ 2.png');
}

@media screen and (max-width: 768px) {
  .article__button {
    top: 8px;
    right: 8px;
  }
}