.article__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 352px;
  margin-left: auto;
  margin-right: auto;
  text-overflow: ellipsis;
  overflow: auto;
  height: 150px;
}

@media screen and (max-width: 768px) {
  .article__text {
    width: 192px;
    font-size: 16px;
    line-height: 22px;
  }
}