@import url('./__logo/header__logo.css');
@import url('./__button/header__button.css');
@import url('./__main/header__main.css');
@import url('./__user/header__user.css');
@import url('./__articles/header__articles.css');
@import url('./__open/header__open.css');

.header {
  height: 80px;
  width: 100%;
  color: white;
  display: flex;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header {
    height: 66px;
    align-items: center;
  }
}

